.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal-wrapper {
  display: flex;
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(4, 9, 17, 0.8);

  visibility: hidden;
  opacity: 0;
}

.modal-wrapper .modal {
  margin: auto;

  width: 80vw;
  height: 65vh;

  background-color: var(--white);
  border-radius: 0.8rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1rem;

  height: 10%;
}

.modal-header h2 {
  font-size: 2rem;

  color: var(--blue);
}

.modal-header button {
  padding: 0;

  font-size: 2rem;

  background-color: transparent;
  color: red;

  border: none;
}

.modal-header h2 span {
  color: #000;
}

.h2-subtitle {
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 3rem;

  font-size: 1.6rem;

  color: var(--black);
}

.modal picture {
  display: flex;
  justify-content: center;

  height: 40%;
}

.button {
  text-align: center;

  margin-top: 4rem;
}

.button button {
  padding: 0.5rem;

  width: 50%;

  font-size: 1.4rem;

  background-color: red;
  color: white;

  border: 2px solid white;
  border-radius: 1rem;
}

/* Telefones em paisagem e abaixo */
@media screen and (max-width: 479px) {
}

/* Telefones em paisagem a tablet em retrato */
@media screen and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 20px;
  }
  .modal-wrapper .modal {
    height: 70vh;
  }
  .modal picture {
    height: 50%;
  }
  .button {
    margin-top: 3rem;
  }
}

/* tablet landscape */
@media screen and (min-width: 1024px) and (max-width: 1600px) and (orientation: landscape) {
  html {
    font-size: 22px;
  }
  .modal picture {
    height: 45%;
  }
}

/* //desktop */
@media screen and (min-width: 1020px) {
  html {
    font-size: 10px;
  }
  .modal-wrapper .modal {
    width: 50vw;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }

  .modal-wrapper .modal {
    width: 50vw;
  }
}
